<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smartvest.abus.com.smartvest">



    <uses-permission android:name="android.permission.INTERNET" />

<!--  android:name=".MainApplication" -->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        ...