<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skyking.skykingradio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <permission
        android:name="com.skyking.skykingradio.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.skyking.skykingradio.permission.C2D_MESSAGE" />
    <!-- 接收 GCM 用 -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- 需要使用 Google 帳戶資訊(4.0.4以下版本需要使用者帳戶) -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 收到訊息時保持 CPU 休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--<meta-data-->
        <!--android:name="com.facebook.sdk.ApplicationId"-->
        <!--android:value="@string/facebook_app_id" />-->


        <activity
            android:name="main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_splash"
            android:launchMode="singleTask"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OutsideAdvActivity"
            android:launchMode="singleTask"  android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name="permission.PermissionsActivity"
            android:screenOrientation="portrait" />


        <service
            android:name=".AudioService"
            android:enabled="true"></service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.skyking.skykingradio" />
            </intent-filter>
        </receiver>

        <service android:name="objects.gcm_.GCMPushReceiverService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service android:name="objects.gcm_.GCMRegistrationIntentService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

    </application>

</manifest>